.container-fluid {
	display: flex;
	align-items: center;
	flex-direction: column;
}

header {
	width: 60%;
}

header h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: black;
	text-align: center;
}

header li.menu-btn {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: black;
	text-align: center;
	margin: 30px 30px 0 30px;
}

ul.todoList {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	padding: 0;
}

ul.todoList li,
ul.todoList li form,
ul.todoList li form label {
	width: 100%;
	display: flex;
	justify-content: center;
}

ul.todoList li form label input {
	width: 60%;
	height: 50px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

ul.menu {
	display: flex;
	justify-content: space-around;

	list-style: none;
	padding: 0;
}